/* Login */
.loginPage {
  width: 38.9380531%;
  margin: 0 auto;
}
.loginForm input {
  margin-bottom: 0.5882352941em;
  width: 100%;
}
.loginPage h2 {
  margin-bottom: 0.5714285714em;
}
.loginForm input[type='submit'] {
  margin: 1.1764705882em auto 0.2941176471em;
}
